.header .navbar {
    background-color: #397D54 !important;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;
}

.header .navbar-nav {
    align-items: center;
}

.header .navbar-nav .nav-link {
    color: white !important;
    text-transform: uppercase;
    font-size: 24px;
}

.header .navbar-nav .nav-link:hover {
    color: #f0f0f0 !important;
}

.header .header-search-container {
    width: 200px;
    position: relative;
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.header .header-search-container input {
    height: 30px;
    border: none;
    outline: none;
    width: 100%;
    padding-left: 30px;
    font-size: 16px;
    border-radius: 30px;
    background-color: #fff;
}

.header .header-search-container .icon-search {
    position: absolute;
    left: 10px;
    color: #888;
    pointer-events: none;
}

.header .navbar-nav.ms-auto .nav-item {
    margin-left: 15px;
}

.header .dropdown-menu {
    background-color: #fff;
}

.header .dropdown-item:hover {
    background-color: #f0f0f0 !important;
}

.header .dropdown-item.active {
    background-color: transparent !important;
    color: black !important;
}

.header .dropdown-item.active:hover {
    background-color: #f0f0f0 !important;
}

.header .container-fluid {
    padding-left: 130px;
    padding-right: 130px;
}

.header .dropdown-toggle::after {
    display: none !important;
}