.header {
    height: 70px;
    background-color: #397D54;
    top: 0;
    left: 0;
    right: 0;
    position: fixed;
    z-index: 1;
}

.header-nav {
    list-style-type: none;
    margin: 0 130px;
    display: flex;
    align-items: center;
    height: 100%;
}

.header-nav-left {
    display: flex;
}

.header-nav-left>li {
    display: inline-block;
    position: relative;
}

.header-nav-left>li>a {
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    padding-right: 50px;
    display: block;
    font-size: 24px;
}

.header-nav-right {
    display: flex;
    margin-left: auto;
}

.header-nav-right>li {
    display: inline-block;
}

.header-nav-right>li>a {
    text-decoration: none;
    padding-left: 50px;
    color: #fff;
    font-size: 24px;
}

.header-nav-right .header-search-container {
    width: 200px;
    display: flex;
    align-items: center;
    position: relative;
}

.header-nav-right .header-search-container>input {
    height: 30px;
    border: none;
    outline: none;
    width: 100%;
    padding-left: 30px;
    font-size: 16px;
    border-radius: 30px;
    background-color: #fff;
}

.header-nav-right .header-search-container .icon-search {
    position: absolute;
    left: 10px;
    color: #888;
    pointer-events: none;
}