.product-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 240px;
    height: 430px;
    margin: 10px;
    background-color: #d7f4df;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    position: relative;
}

.product-item img {
    width: 100%;
    height: 320px;
    object-fit: cover;
}

.product-item h3 {
    font-size: 20px;
    margin: 10px 10px 0;
}

.product-item p {
    font-size: 16px;
    margin: 10px;
    margin-top: auto;
    align-self: flex-end;
}